<div class="container">

  <div class="header">
    <div class="logo">
      <img src="logo.webp" alt="Banco Logo" />
      <h1>BANCO</h1>
    </div>
  </div>
  
  <div class="table-container">
    
    <div class="toolbar">
      <div class="search-bar">
        <input
          type="text"
          placeholder="Buscar..."
          [(ngModel)]="searchQuery"
          (input)="onSearch(searchQuery)"
        />
      </div>
      <div>
        <button class="primary-button" [routerLink]="['/product/create']" >
          Agregar
        </button>
      </div>
  
    </div>

    <div class="scroll-y">
      <table class="product-table">
        <thead>
          <tr>
            <th>Logo</th>
            <th>Nombre del producto</th>
            <th>
              Descripción
              <span class="info-icon">i</span>
            </th>
            <th>
              Fecha de liberación
              <span class="info-icon">i</span>
            </th>
            <th>
              Fecha de reestructuración
              <span class="info-icon">i</span>
            </th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody>
          @for (product of paginatedProducts; track $index) {
              <tr>
                <td>
                  <div class="logo-circle">
                    {{product.logo}}
                  </div>
                </td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.date_release }}</td>
                <td>{{ product.date_revision }}</td>
                <td>
                   <!-- Menú contextual -->
                  <div class="dropdown">
                    <button (click)="toggleDropdown()" class="dropdown-toggle">...</button>
                    <!-- Menú del dropdown -->
                    <ul class="dropdown-menu" [class.show]="dropdownOpen">
                      <li (click)="editProduct(product.id)">Editar</li>
                      <li (click)="onDelete(product)">Eliminar</li>
                    </ul>
                  </div>
                </td>
              </tr>
          } @empty {
            @if (!products) {
              @for (item of [1, 1, 1]; track $index) {
                <tr>
                  @for (item of ['xs', 'sm', 'sm', 'sm', 'sm', 'xs']; track $index) {
                    <th>
                      <div class="skeleton" [ngClass]="item"></div>
                    </th>
                  }
                </tr>
              }
            } 
          }
        </tbody> 
      </table>
    </div>

    <div class="footer">
      <p>{{ filteredProducts.length }} Resultados</p>
      <select [(ngModel)]="pageSize" (change)="onPageSizeChange(pageSize)">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
      </select>
    </div>

  </div>
  
</div>


@if (showModal) {
  <app-alert 
    title="Eliminar Producto"
    [description]=" '¿Está seguro que desea eliminar el producto ' + productToDelete.name + '?' "
    textButtonCancel="Cancelar"
    (action)="actionAlert($event)">
  </app-alert>
}

@if(alert?.show) {
  <app-alert 
    [title]="alert.title"
    [description]="alert.description"
    (action)="alert.show = false">
  </app-alert>
}





